<button type='button' class='player-button' id='create-acc'>
  Add a New Account
</button>
<a href='update'><button type='button' class='player-button'>
  Update My Library
</button></a>
<%= button_to "Preferences", "/to_preferences", remote: true, type: 'button', class: 'player-button', method: :get %>
