<% content_for :head do %>
  KloudTrax | The Cloud Player
<% end %>
<div class='center hero-unit'>
    <h1>KloudTrax</h1>
    <h2>The Cloud Media Player</h2>
    <nav>
    <ul id='signin'>
      <% if current_user %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to image_tag("twitter.png", :width => 200, :length => 440), "/auth/twitter" %>
        <%= link_to image_tag("facebook.png", :width => 205, :length => 445), "/auth/facebook" %>
        <%= link_to image_tag("google.png", :width => 195, :length => 460), "/auth/google_oauth2" %>
      <% end %>
    </ul>
  </nav>
</div>
