<footer id='footer'>

  <nav>
    <ul id='pages'>
      <li><%= link_to "about us", about_path %></li>
		  <li><%= link_to "help", help_path %></li>
    </ul>
    <ul id='signout'>
      <% if current_user %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign In", root_path %>
      <% end %>
    </ul>
  </nav>
</footer>
